
@font-face
{
	font-family: mywebfont;
	src: url('SpeedRacing.ttf'); format:('truetype');
}

.throttle{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    border: solid 10px black;
    background-color: red;
    margin: 30px;

}


input[type=button], input[type=submit], input[type=reset] 
{
    background-color: black;
    border: solid;
	border-color: red;
    color:yellow;
    font-size: 25px;
    font-family: mywebfont;
    padding: 10px 22px;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;
    margin-left:90px;
	
    
  }

select
{
	padding: 3px;
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 220px;
	margin-left: 100px;
	font-style: bold;
	color: yellow;
	background-color: black;
	border: solid;
	border-color: yellow;
	padding-left: 120px;
	padding-right: 100px;
	
}


h1
{
    color: red;
    font-family: mywebfont;
	font-size: 300%;
}

h2
{
	color: yellow;
	font-family: mywebfont;
	font-size: 250%;
	margin-left: 120px;
	margin: center;
	float: left;
}

body
{
    background-color: black;
}
