
.throttle{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    border: solid 10px black;
    background-color: red;
    margin: 30px;

}


input[type=button], input[type=submit], input[type=reset] 
{
    background-color: black;
    border: solid;
    color:yellow;
    font-size: 25px;
    font-style: bold;
    padding: 10px 22px;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;
    margin-left:230px;
	
    
  }

select 
{
	padding: 3px;
	font-size: 20px;
	margin-right: 56px;
	margin-bottom: 40px;
	margin-top: 200px;
	margin-left: 100px;
	font-style: bold;
	color: Yellow;
	background-color: black;
	border: solid;
	
}


h1
{
    color: red;
    
	font-size: 40px;
	border
	border: solid;
	border-color: yellow;
}

body
{
    background-color: black;
}